@import url(./bases.css);
.aboutMe{
    padding: 1rem;
    background-color: var(--background-blue);
    width: 100%;
}

.abotMe__title{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.aboutMe__text{
    font-size: 0.8rem;
    color: var(--font-grey);
    margin-bottom: 1rem;
    
}

.aboutMe__signature{
width: 2rem;
height: 100px;
}

@media screen and (min-width: 1440px){
    .aboutMe{
        padding: 3rem 6rem;
    }
    .aboutMe__text{
        
        width: 60%;
    }
}
