.header__container{
    display: flex;
    justify-content: space-between;
}
.header__name{
    display: flex;
}
.header__name--text{
    font-weight: bold;
}
.header__email{
    font-size: 14px;
    color: var(--font-grey);
}
.header__list{
    display: none;
}
@media screen and (min-width: 1440px){

    .header__container{
        justify-content: space-around;
    }

    .header__list{
        display: flex;
        width: 70%;
        justify-content: space-between;
    }
    .header__info{
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
}