
.hobbies{
    background-color: black;
}

.hobbies__{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.hobbies__title{
    font-weight: bold;
    text-align: center;
    margin: 1rem;
    color: orangered;
}

.hobbies__hobbie{
    width: 40%;
    height: 12rem;
    background-color: var(--background-blue);
    margin: 0.5rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1rem 1rem;
    box-sizing: border-box;
    font-weight: bold;
    gap: 1rem;
    background-color: orange;
    border-radius: 12px;
    border: solid 1px black;
}

.hobbies__hobbie--img{
    width: 60px;
    height: 60px;
}

.hobbies__hobbie:nth-child(4) img{
    width: 80px;
    height: 60px;
}

@media screen and (min-width: 768px){
    .hobbies__hobbie{
        width:30%;
    }
}

@media screen and (min-width: 1440px){
    .hobbies__hobbie{
        width:15%;
    }
}
