
.projects{
    background: rgb(255,61,0);
    background: linear-gradient(0deg, rgba(255,61,0,1) 0%, rgba(196,47,0,1) 28%, rgba(0,0,0,1) 65%);
}

.projects__title{
    font-weight: bold;
    text-align: center;
    margin: 1rem;
    color: orangered;
}

.projects__project{
    margin-bottom: 2rem;
    padding: 1rem;
}

.projects__project--img{
    width: 100%;
}

.projects__project--title{
    font-weight: bold;
    margin-top: 1rem;
    color: var(--font-black);
}

.projects__project--description{
    color: var(--font-grey);
    font-size: 14px;
    margin-bottom: 1rem;
}

.projects__project--buttons{
    display: flex;
    gap: 1rem;
}

.projects__project--btn--repository{
    border: 1px solid blue;
    padding:12px 16px;
    border-radius: 7px;
}

.projects__project--btn--demo{
    padding:12px 16px;
    background-color: blue;
    color: white;
    border-radius: 7px;
}

@media screen and (min-width: 1440px){
    .projects__title{
        font-size: 2rem;
        padding: 2rem;
    }

    .projects__project{
        padding: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .projects__project--img{
        width: 70%;
    }

    .projects__project:nth-child(3) .project__text--container{
        order: -1;
    }
}